<div
  id="control-buttons-wrapper"
  class="d-flex w-100 justify-content-around p-2 rounded-bottom rounded-lg bg-info shadow-sm sticky-top"
>
  <button class="btn btn-light text-info" (click)="sendPing()">
    Generate Events
  </button>
  <button class="btn btn-light text-info" (click)="goToSwitches()">
    Switches
  </button>
  <button class="btn btn-light text-info" (click)="logout()">Logout</button>
</div>
<div>
  <div *ngFor="let item of data" class="d-block p-2 shadow-sm m-4 rounded">
    <p>{{ item }}</p>
  </div>
</div>
